<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blast-Result</title>
    <meta charset="utf-8">
    <meta name="Rick"/>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/icomoon.css">
    <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" href="../static/frontstyle2.css">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
        <div class="container">
          <a class="navbar-brand" href="index.html">Project group 12</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/index" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="/team" class="nav-link">Team</a></li>
              <li class="nav-item"><a href="/blast" class="nav-link">Blast</a></li>
              <li class="nav-item"><a href="/database" class="nav-link">Database</a></li>
            </ul>
           
          </div>
        </div>
      </nav>
     <section class="probootstrap-cover">
      <div class="container">
        <div class="row probootstrap-vh-75 align-items-center text-left">
          <div class="col-sm">
            <div class="probootstrap-text pt-5">
              <h1 class="probootstrap-heading text-white mb-4">Blast-Result</h1>
              <div class="probootstrap-subheading mb-5">
              </div>
            </div>
      
	
   	       <form action="databasewrite" method = "POST">
 	        <textarea type="text" name="databasewrite" id="databasewrite">
		{% for line in blastresult %}
		    
		    Sequence:
		    
		    {{ line[0] }}
		  
		    Length:
		    {{ line[1] }}
		    
		    E-value:
		    {{ line[2]}}
		    
		    Coverage:
		    {{ line[3]}}
		{% endfor %}
		  
     		 </textarea>
    		  <br>
		  
  		<input style="width: 75px;
  		height: 40px; padding: 10px; margin: 10px; display: block;
  		overflow: hidden;
  		text-align: center;
 		 background-color: darkgrey;
  		font: bold 15px arial, sans-serif "
         		type="Submit" value="Save">
		</form>
   					
		   
   </section>
  </body>
</html>
