<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team</title>
    <meta charset="utf-8">
    <meta name="Rick" />
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/icomoon.css">
    <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>		


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
        <div class="container">
          <a class="navbar-brand" href="/index">Project group 12</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="team" class="nav-link">Team</a></li>
              <li class="nav-item"><a href="blast" class="nav-link">Blast</a></li>
              <li class="nav-item"><a href="database" class="nav-link">Database</a></li>
	      <li class="nav-item probootstrap-cta"><a href="login" class="nav-link">Log Out</a></li>
            </ul>
           
          </div>
        </div>
      </nav>

     <section class="probootstrap-cover">
      <div class="container">
        <div class="row probootstrap-vh-75 align-items-center text-left">
          <div class="col-sm">
            <div class="probootstrap-text pt-5">
              <h1 class="probootstrap-heading text-white mb-4">Team </h1>
              <div class="probootstrap-subheading mb-5">
                <p class="h4 font-weight-normal">About us</p>
		 <table style="width:50%" align="right">
  		  <tr>
    	       	   <th class= text-white> <p class="h4 font-weight-normal">Rick Schoenmaker</p></th>
                    <th class= text-white > <p class="h4 font-weight-normal">Evander van Wolfswinkel</p></th>
		     <th class= text-white> <p class="h4 font-weight-normal">Valerie Verhalle</p></th>	
                  </tr>
                   <tr>
                    <td><a href="https://www.linkedin.com/in/rick-schoenmaker-8b8429165/"><img src="../static/Rickfoto.jpeg" alt="Rick Schoenmaker" width= 200px </td>
                    <td><a href="https://www.linkedin.com/in/evander-van-wolfswinkel-b74a36164/"><img src="../static/Evanderfoto.jpeg" alt="Evander van Wolfswinkel" width= 200px ></td>
                    <td><a href="https://www.w3schools.com"><img src="../static/Valeriefoto.jpeg" alt="Valerie Verhalle" width= 200px ></td>
                  </tr>
                 </table> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 pr-md-5 pr-0">
            <h2 class="mb-5">Our Project</h2>
            <p>We build a application to Blast DNA sequences and store the retrieved data in a database.</p>

            <p>You can search the database for previously blasted sequences or BLAST new sequences and store them in our database.</p>

          </div>
		
          <div class="col-md-5">
            <h2 class="mb-5">Why Us</h2>

            <div class="media mb-5">
              <div class="media-body">
                <h5 class="mt-0">Motivation</h5>
                <p>We are a highly motivated team of students, that learn along the way.</p>
              </div>
            </div>
	</section>

  </body>
</html>
